body {
  padding-top: 70px;
  padding-bottom: 30px;
  
  font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
	background-color: #dadada;
	color: #0d6d8c;
 	width: auto;
}

.navbar
{
	background-color: white;
	font-size: 15px;
	
}

.navbar .container{
	margin-top: 10px
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
@media screen{
	.col-sm-5ths {
        width: 100%;
        float: left;
    }
}
@media ( min-width : 768px) {
    .col-sm-5ths {
        width: 100%;
        float: left;
    }
}
 
@media ( min-width : 992px) {
    .col-md-5ths {
        width: 100%;
        float: left;
    }
}
 
@media ( min-width : 1200px) {
    .col-lg-5ths {
        width: 100%;
        float: left;
    }
}

.nav-manage{
  border: none;
  background-color: #f5f5f5;
}

